.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.tree-column {
    float: left;
    width: 300px;
    padding-left: 15px;
}
.fill-column {
    width: 50px;
}
.final-column {
    padding-left: 350px;
    padding-right: 30px;
}
.tree-div {
    border: solid black 1px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    background-color: #e9eaee;
    max-height: 650px;
}
.tree-div {
    min-height: 300px;
}
div.tableContainer3 {
	clear: both;
	height: 600px;
	overflow: auto;
}
html>body tbody.scrollContent3 {
	height: 590px;
	overflow: scroll;
}
.listitem-hidden {
    display: none;
}
.format-listitem {
    list-style-type: none; 
    padding-left: 15px;
}