@import "https://bossanova.uk/jexcel/v3/jexcel.css";
@import "https://bossanova.uk/jsuites/v2/jsuites.css";

.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.tree-column {
    float: left;
    width: 300px;
    padding-left: 15px;
}
.fill-column {
    width: 50px;
}
.final-column {
    padding-left: 350px;
    padding-right: 30px;
}
.tree-div, .chart, .roundborder {
    border: solid black 1px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}
.tree-div {
    min-height: 300px;
    max-height: 650px;
    background-color: #e9eaee;
}
.chart {
    min-height: 650px;
    max-height: 800px;
    background-color: #e9eaee;
}
.listitem-hidden {
    display: none;
}
.format-listitem {
    list-style-type: none; 
    padding-left: 15px;
}