.requiredMessage {
    position: relative;
    margin-bottom: 10px;
    max-width: calc(100%);
    text-align: center;
    display: none;
    background: #b62a51;
    color: white;
    font-size: 15px;
    font-weight:bold;
}

.requiredMessage::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0px;
    background: #b62a51;
    width: 15px;
    height: 10px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.divcolumn {
    float: left;
    padding: 10px;
    min-height: 100px;
    max-height: 500px;
    background-color: #e9eaee;
    width: 49%;
}
.divider-column {
    float: left;
    width: 2%;
    min-height: 1px;
}
.opportunity-column {
    float: left;
    width: 30%;
    min-height: 1px;
}
.dashboard-item-small {
    height: 200px; 
    width: 23.75%; 
    margin: 5px; 
    float: left;
    background-color: lightblue;
}
.approve, .reject {
    width: 45%; 
}