.dashboard-item-small, .dashboard-item-large, .custom-dashboard-item-large {
  margin: 4.25px 4.25px 4.25px 0px; 
  float: left;
  color: white;
}

.dashboard-item-small {
  width: calc((100% - 25.5px) / 3);
  height: 225px;
}

.dashboard-item-large {
  width: calc(100% - 4.25px);
  height: 458.5px;
  color: black;
}

.custom-dashboard-item-large {
  height: 458.5px;
  width: calc(50% - 4.25px); 
  background-color: white;
  color: black;
}

.icon {
  color: white; 
  padding: 5px;
}