@import "https://use.fontawesome.com/releases/v5.11.2/css/all.css";
@import "https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css";
@import "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";

.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.dashboard {
    min-height: 650px; 
    background-color: #e9eaee;
}
.tree-column {
    float: left;
    width: 300px;
    padding-left: 15px;
}
.fill-column {
    width: 50px;
}
.final-column {
    padding-left: 350px;
    padding-right: 30px;
}
.tree-div {
    background-color: #e9eaee;
    max-height: 650px;
    min-height: 300px;
}
.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
.format-listitem {
    list-style-type: none; 
    padding-left: 15px;
}
.roundborder {
    border: solid black 1px;
      border-top-left-radius: 5px; 
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px; 
      border-bottom-right-radius: 5px; 
  }