.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.final-column {
    padding-left: 15px;
    padding-right: 15px;
}
.tree-div, .chart {
    background-color: #e9eaee;
}
.chart {
    max-height: 650px;
    min-height: 650px;
    margin: 5px;
}
.roundborder  {
    border: solid black 1px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    
}
.left, .right {
    float: left;
    width: 46%;
    min-height: 100px;
}
.middle, .first, .last {
    float: left;
    width: 2%;
    min-height: 100px;
}
.listitem-hidden {
    display: none;
}