.tree-div, .chart {
    background-color: #e9eaee;
}
.tree-div {
    padding: 10px;
}
.chart {
    max-height: 650px;
    min-height: 650px;
    margin-top: 5px;
}
.left, .right {
    float: left;
    width: 46%;
    min-height: 100px;
}
.middle, .first, .last {
    float: left;
    width: 2%;
    min-height: 100px;
}