@import "https://bossanova.uk/jexcel/v3/jexcel.css";
@import "https://bossanova.uk/jsuites/v2/jsuites.css";

.dashboard{
    background-color: #e9eaee;
}
.tree-div, .chart, .half-chart {
    background-color: #e9eaee;
    max-height: 650px;
}
.chart, .half-chart {
    min-height: 650px;
}
.half-chart {
    width: calc(49.85%);
    float: left;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}