@import "https://use.fontawesome.com/releases/v5.11.2/css/all.css";
@import "https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css";

* {box-sizing: border-box;}
 
.fusion-clearfix {
    clear: both;
    zoom: 1
}

.fusion-clearfix:after,
.fusion-clearfix:before {
    content: " ";
    display: table
}

.fusion-clearfix:after {
    clear: both
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=search]::-webkit-search-decoration,
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    -webkit-appearance: none;
}

textarea {
    color: black; 
    border: solid black 1px; 
    min-width: 100%; 
    min-height: 100px;
}

input[type=image] {
    padding: 0;
    border: none
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

html.no-overflow-y {
    overflow-y: hidden
}

input,
select,
textarea {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000
}

select {
    border-style: solid
}

form {
    margin: 0;
    padding: 0;
    border-style: none
}

a,
a:after,
a:before {
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear
}

a {
    color:inherit;
    text-decoration: none;
}

.popup {
    font-size: 11px;
}

.popup span {
    display: inline-block
}

.fusion-row {
    margin: 0 auto;
    zoom: 1
}

.fusion-row:after,
.fusion-row:before {
    content: " ";
    display: table
}

.fusion-row:after {
    clear: both
}

input[type=submit] {
    cursor: pointer
}

.fusion-header-wrapper {
    position: relative;
    z-index: 10010;
    background-color: #505152;
}

.fusion-header {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background-color .25s ease-in-out;
}

.fusion-logo {
    display: block;
    float: left;
    max-width: 100%;
    zoom: 1;
}

.fusion-logo:after,
.fusion-logo:before {
    content: " ";
    display: table
}

.fusion-logo:after {
    clear: both
}

.fusion-logo a {
    display: block;
    max-width: 100%
}

.fusion-logo img {
    width: auto
}

.fusion-main-menu {
    float: right;
    position: relative;
    z-index: 200;
    overflow: hidden;
}

.fusion-header-v1 .fusion-main-menu:hover {
    overflow: visible
}

.fusion-main-menu>ul>li:last-child {
    padding-right: 0
}

.fusion-main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.fusion-main-menu ul a {
    display: block;
    box-sizing: content-box
}

.fusion-main-menu li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer
}

.fusion-main-menu>ul>li {
    padding-right: 45px
}

.fusion-main-menu>ul>li>a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    -webkit-font-smoothing: subpixel-antialiased;
    border-color: transparent;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0px;
    font-style: normal;
    color: #ffffff
}

.fusion-main-menu li:hover>.sub-menu {
    visibility: visible;
    opacity: 1
}

.fusion-main-menu .sub-menu {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: opacity .2s ease-in;
    font-family: Overpass;
    font-weight: 400;
    width: 301px;
}

.fusion-main-menu .sub-menu ul {
    top: 0;
    left: 301px
}

.fusion-main-menu .sub-menu li {
    float: none;
    margin: 0;
    padding: 0
}

.fusion-main-menu .sub-menu a {
    border: 0;
    padding: 7px 20px;
    line-height: 19px;
    text-indent: 0;
    height: auto;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, height 0s, line-height 0s
}

.fusion-caret {
    margin-left: 9px
}

.fusion-flex-column .fusion-caret {
    margin: 2px 0 0 0
}
.sub-menu .fusion-caret {
    position: absolute;
    right: 15px;
    margin-left: 0;
    top: 14px
}

.fusion-mobile-menu-design-modern .fusion-header>.fusion-row {
    position: relative
}

.fusion-footer-widget-area {
    overflow: hidden;
    position: relative;
    background-color: #505152;
    color: #8c8989;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 43px;
    border-top-width: 0px;
    border-color: #e9eaee;
    background-size: initial;
    background-position: center center;
}

.fusion-footer-widget-area .widget-title {
    color: #ddd;
    font: 13px/20px PTSansBold, arial, helvetica, sans-serif;
    margin: 0 0 28px;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0px;
}

.fusion-footer-widget-area a {
    color: #bfbfbf
}

.fusion-footer-widget-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px
}

.fusion-footer-widget-area ul li a {
    display: block;
    position: relative
}

.fusion-footer-widget-area .widget>ul>li:first-child {
    padding-top: 0
}

.fusion-header .fusion-row {
    padding-top: 0px;
    padding-bottom: 0px
}

.fusion-footer-widget-area a:hover,
a:hover {
    color: #b8264a
}

.fusion-footer footer .fusion-row .fusion-columns {
    display: block;
    -ms-flex-flow: wrap;
    flex-flow: wrap
}

.fusion-footer footer .fusion-columns {
    margin: 0 calc((15px) * -1)
}

.fusion-footer footer .fusion-columns .fusion-column {
    padding-left: 15px;
    padding-right: 15px
}

.fusion-footer-widget-area .widget a:hover,
.fusion-footer-widget-area ul li a:hover,
.fusion-footer-widget-area .widget li a:hover:before {
    color: #ffffff
}

.fusion-footer-widget-area .fusion-row {
    max-width: 1200px
}

.fusion-header .fusion-logo {
    margin: 20px 40px 0px 0px
}

.fusion-main-menu>ul>li>a:not(.fusion-logo-link):not(.fusion-icon-sliding-bar):hover {
    border-color: #ffffff
}

.fusion-main-menu>ul>li>a:not(.fusion-logo-link):hover {
    color: #ffffff
}

.fusion-main-menu .sub-menu li a {
    font-family: Overpass;
    font-weight: 400;
    padding-top: 14px;
    padding-bottom: 14px;
    color: white;
    background-color: #505152;
    font-size: 12px;
    border-bottom: solid white 1px;
}

.fusion-main-menu ul li {
    border-top: solid #505152 5px;
}

.fusion-main-menu ul li:hover{
    border-top: solid white 5px;
    padding-bottom: 0px;
}

.fusion-main-menu .sub-menu li a:hover {
    background-color: black;
    border-bottom: solid white 5px;
}

body:not(.fusion-top-header) .fusion-main-menu>ul>li>a {
    height: 64px
}

.fusion-main-menu .sub-menu,
.fusion-main-menu .sub-menu li a,
body {
    font-family: Overpass;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal
}

.fusion-footer-widget-area ul,
body {
    font-size: 16px
}

#nav ul li ul li a,
.fusion-main-menu .sub-menu,
.fusion-main-menu .sub-menu li a,
body {
    line-height: 1.5
}

table th {
    font-family: Overpass;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal
}

.table,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
tr td {
    border-color: #e0dede;
}

@media only screen and (max-width: 800px) {
    .fusion-mobile-logo-1 .fusion-standard-logo {
        display: none;
    }
    .fusion-mobile-logo {
        display: inline-block;
    }
}

.fusion-columns {
    margin: 0 -15px
}

.fusion-columns-3 .fusion-column:nth-of-type(3n+1) {
    clear: both
}

.row:after {
    clear: both;
    content: " ";
    display: table
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-4,
.col-md-4,
.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:1200px) {
    .col-lg-4 {
        float: left
    }
    .col-lg-4 {
        width: 33.33333333%
    }
}

button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0
}

.close {
    color: black;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}

.modal-header .close {
    margin-top: -2px
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-color: #e5e4e3;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #e5e4e3;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.table>tbody+tbody {
    border-top: 2px solid #e5e4e3;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

.table>tbody>tr>th,
.table>thead>tr>th {
    padding: 20px;
    font-weight: 700
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 10px 20px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.53846154;
    vertical-align: top;
    border-top: 1px solid #e5e4e3;
}

.table>tfoot>tr>td {
    font-weight: 700
}

@media only screen and (max-width: 800px) {
    @media only screen and (-webkit-min-device-pixel-ratio:1.5),
    only screen and (min-resolution:144dpi),
    only screen and (min-resolution:1.5dppx) {
        .fusion-mobile-logo {
            display: inline-block
        }
    }
}

@media only screen and (max-width: 800px) {
    .fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header {
        padding-top: 20px;
        padding-bottom: 20px
    }
    .fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header .fusion-row {
        width: 100%
    }
    .fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-logo {
        margin: 0!important
    }
    .fusion-header .fusion-row {
        padding-left: 0;
        padding-right: 0
    }
    .fusion-header-wrapper .fusion-row {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%
    }
    .fusion-footer-widget-area>.fusion-row {
        padding-left: 0;
        padding-right: 0
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .fusion-columns-3 .fusion-column:first-child {
        margin-left: 0
    }
    .fusion-column,
    .fusion-column:nth-child(2n),
    .fusion-column:nth-child(3n),
    .fusion-column:nth-child(4n),
    .fusion-column:nth-child(5n) {
        margin-right: 0
    }
    .columns .col {
        float: none;
        width: 100%!important;
        margin: 0;
        box-sizing: border-box
    }
    .fusion-social-networks {
        display: block;
        text-align: center;
        padding: 0 0 15px
    }
    .fusion-social-networks:after {
        content: "";
        display: block;
        clear: both
    }
    .fusion-social-networks li {
        float: none;
        display: inline-block
    }
    #footer .social-networks {
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: -11px
    }
    .popup {
        display: none!important
    }
    .fusion-columns-3 .fusion-column {
        width: 33.33%!important;
        float: left!important
    }
    .fusion-columns-3 .fusion-column:nth-of-type(3n+1) {
        clear: both
    }
    .footer-area .fusion-column {
        margin-bottom: 40px
    }
    #footer>.fusion-row,
    #header-sticky .fusion-row,
    .footer-area>.fusion-row,
    .fusion-header .fusion-row {
        padding-left: 0!important;
        padding-right: 0!important
    }
    .fusion-footer-widget-area,
    body {
        background-attachment: scroll!important
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .fusion-footer-widget-area,
    body {
        background-attachment: scroll!important
    }
}

@media only screen and (max-width: 522px) {
    .no-overflow-y {
        overflow-y: visible!important
    }
    .fusion-columns-3 .fusion-column:first-child {
        margin-left: 0
    }
    .fusion-columns .fusion-column {
        width: 100%!important;
        float: none;
        box-sizing: border-box
    }
    .fusion-columns .fusion-column:not(.fusion-column-last) {
        margin: 0 0 50px
    }
    .col-sm-4,
    .footer-area .fusion-columns .fusion-column {
        float: none;
        width: 100%
    }
    .fusion-social-networks:after {
        content: "";
        display: block;
        clear: both
    }
    .fusion-social-networks li {
        float: none;
        display: inline-block
    }
    #footer .social-networks {
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: -11px
    }
    .popup {
        display: none!important
    }
    .fusion-footer footer .fusion-row .fusion-columns .fusion-column {
        border-right: none;
        border-left: none
    }
}

@media only screen and (min-width: 522px) {
    .no-overflow-y body {
        padding-right: 9px!important
    }
    .no-overflow-y .modal {
        overflow-y: hidden
    }
}

@media only screen and (max-device-width: 640px) {
    .fusion-columns .fusion-column {
        float: none;
        width: 100%!important;
        margin: 0 0 50px;
        box-sizing: border-box
    }
    .social-networks {
        float: none;
        padding: 0 0 15px;
        text-align: center
    }
    .social-networks:after {
        content: "";
        display: block;
        clear: both
    }
    .social-networks li {
        float: none;
        display: inline-block
    }
    .title {
        margin-top: 0!important;
        margin-bottom: 20px!important
    }
    #footer .social-networks {
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: -11px
    }
}

@media only screen and (max-width: 522px) {
    .fusion-columns-3 .fusion-column:first-child {
        margin-left: 0
    }
    .fusion-columns .fusion-column {
        width: 100%!important;
        float: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    .fusion-columns .fusion-column:not(.fusion-column-last) {
        margin: 0 0 50px
    }
    .col-sm-4 {
        float: none;
        width: 100%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .fusion-columns-3 .fusion-column:first-child {
        margin-left: 0
    }
    .fusion-column,
    .fusion-column:nth-child(2n),
    .fusion-column:nth-child(3n),
    .fusion-column:nth-child(4n),
    .fusion-column:nth-child(5n) {
        margin-right: 0
    }
    .columns .col {
        float: none;
        width: 100%!important;
        margin: 0 0 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    .fusion-columns-3 .fusion-column {
        width: 33.33%!important;
        float: left!important
    }
    .fusion-columns-3 .fusion-column:nth-of-type(3n+1) {
        clear: both
    }
}

@media only screen and (max-device-width: 640px) {
    .fusion-columns .fusion-column {
        float: none;
        width: 100%!important;
        margin: 0 0 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}

.show-pointer {
    cursor: pointer;
}
input[type=checkbox], input[type=radio] {
    margin: 0!important;
    margin-top: -1px!important;
    line-height: normal!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    padding: 0!important;
    cursor: pointer;
}
body {
    margin: 0!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #333!important;
    background-color: #fff!important;
}
ul {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.tree-div {
    padding: 5px!important;
}
.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.sidenav-icon {
    font-size: 30px; 
    cursor: pointer; 
    float: left; 
    color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #505152;
    overflow-x: hidden;
    transition: 0.25s;
    margin-top: 69px;
    opacity: 95%;
}
.sidenav .closebtn {
    position: absolute;
    left: 370px;
    font-size: 30px;
}
.sidenav .lock {
    position: absolute;
    left: 15px;
    font-size: 30px;
}
.roundborder {
    border: solid black 1px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}
.tree-column {
    float: left;
    width: 385px;
    padding-left: 15px;
    padding-top: 50px;
}

.final-column {
    padding-left: 15px;
    padding-right: 15px;
}
.scrolling-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.listitem-hidden {
    display: none;
}
.format-listitem {
    list-style-type: none; 
}
.format-listitem:not(.topListItem) {
    padding-left: 15px;
}
.topListItem {
    padding-left: 0px;
}