@import "https://bossanova.uk/jexcel/v3/jexcel.css";
@import "https://bossanova.uk/jsuites/v2/jsuites.css";

.section-header {
  background: #b62a51;
  width: 100%;
}
.section-header-text {
  color: white;
  text-align: center;
  font: 13px/20px PTSansRegular, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  font-family: Overpass;
}
.dashboard{
  background-color: #e9eaee;
}
.tree-column {
  float: left;
  width: 385px;
  padding-left: 15px;
  padding-top: 50px;
}
.final-column {
  padding-left: 15px;
  padding-right: 15px;
}
.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}
.listitem-hidden {
  display: none;
}
.format-listitem {
  list-style-type: none; 
  padding-left: 15px;
}
.tree-div, .chart {
  background-color: #e9eaee;
  max-height: 650px;
}
.chart {
  min-height: 650px;
}
.roundborder {
  border: solid black 1px;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
}
.sidenav-icon {
  font-size: 30px; 
  cursor: pointer; 
  float: left; 
  color: white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #505152;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 95%;
}

.sidenav .closebtn {
  position: absolute;
  top: 70px;
  left: 370px;
  font-size: 30px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;

  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}