@import "https://use.fontawesome.com/releases/v5.11.2/css/all.css";
@import "https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css";

.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.tree-column {
    float: left;
    width: 385px;
    padding-left: 15px;
    padding-top: 50px;
}
.tree-div, .chart {
    background-color: #e9eaee;
    max-height: 650px;
}
.chart {
    min-height: 650px;
    width: calc(49.85%);
    float: left;
}
.final-column {
    padding-left: 15px;
    padding-right: 15px;
}
.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
.listitem-hidden {
    display: none;
}
.format-listitem {
    list-style-type: none; 
    padding-left: 15px;
}
.roundborder, .tabDiv {
    border: solid black 1px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
.roundborder, .card {
    border: solid black 1px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}
.sidenav-icon {
    font-size: 30px; 
    cursor: pointer; 
    float: left; 
    color: white;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #505152;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 95%;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 70px;
    left: 370px;
    font-size: 30px;
  }
/* Style the tab */
.tabDiv {
    overflow: hidden;
    background-color: #e9eaee;
  }
  
  /* Style the buttons inside the tab */
  .tabDiv button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 10px;
  }
  
  /* Change background color of buttons on hover */
  .tabDiv button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tabDiv button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .card {
    display: none;
    padding: 5px 5px;
    border-top: none;
    background-color: #e9eaee;
  }
  .popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    left: 0;
    top: 0;
    width: 125%; /* Full width */
    height: 135%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content, .modal-content-wide {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    color: black;
}

.modal-content {
    margin-top: 100px;
    margin-left: 30%;
    width: 500px;
}

.modal-content-wide {
    margin-top: 75px;
    margin-left: 12%;
    width: 60%;
}
.title {
    text-align: center;
    font-size: 20px;
}
.approve {
    background-color: green;
}
.reject {
    background-color: red;
}