.divcolumn {
    background-color: white;
    padding: 10px;
}
.middle {
    float: left;
    width: 1%;
    min-height: 100px;
}
.tree-div {
    background-color: white;
    min-height: 183px;
    max-height: 183px;
}