@import "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";

.dashboard {
    min-height: 650px; 
    background-color: white;
}
.tree-column {
    float: left;
    width: 300px;
    padding-left: 15px;
}
.fill-column {
    width: 50px;
}
.final-column {
    padding-left: 350px;
    padding-right: 30px;
}
.tree-div {
    background-color: white;
    max-height: 650px;
    min-height: 300px;
}