.tree-div, .chart {
    background-color: #e9eaee;
    max-height: 650px;
}
.chart {
    min-height: 650px;
    width: calc(49.85%);
    float: left;
}
.tabDiv {
    border: solid black 1px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
.card {
    border: solid black 1px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}
/* Style the tab */
.tabDiv {
    overflow: hidden;
    background-color: #e9eaee;
  }
  
  /* Style the buttons inside the tab */
  .tabDiv button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 10px;
  }
  
  /* Change background color of buttons on hover */
  .tabDiv button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tabDiv button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .card {
    display: none;
    padding: 5px 5px;
    border-top: none;
    background-color: #e9eaee;
  }