@import "https://use.fontawesome.com/releases/v5.11.2/css/all.css";
@import "https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css";

.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.tree-column {
    float: left;
    width: 300px;
    padding-left: 15px;
}
.fill-column {
    width: 50px;
}
.group-by-div {
    border: solid #e9eaee 1px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
.tree-div {
    border: solid black 1px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    background-color: #e9eaee;
    max-height: 650px;
    min-height: 300px;
}
.final-column {
    padding-left: 350px;
    padding-right: 30px;
}
.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
.listitem-hidden {
    display: none;
}
.format-listitem {
    list-style-type: none; 
    padding-left: 15px;
}
/* Style the tab */
.tabDiv {
    overflow: hidden;
    border: 1px solid black;
    background-color: #f1f1f1;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
  }
  
  /* Style the buttons inside the tab */
  .tabDiv button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
    font-size: 10px;
  }
  
  /* Change background color of buttons on hover */
  .tabDiv button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tabDiv button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 5px 5px;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
  }