@import "https://bossanova.uk/jexcel/v3/jexcel.css";
@import "https://bossanova.uk/jsuites/v2/jsuites.css";

.dashboard{
    background-color: #e9eaee;
}
.tree-div, .chart {
    background-color: #e9eaee;
    max-height: 650px;
}
.chart {
    min-height: 650px;
}
