.tree-column {
    float: left;
    width: 250px;
    padding-left: 15px;
}

.group-div {
    border: solid black 1px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

.group-by-div {
    border: solid white 1px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

.tree-div {
    border-right: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}