.section-header {
    background: #b62a51;
    width: 100%;
}
.section-header-text {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}
.login-body {
    background: #98a4af;
    text-align: center;
    padding-top: 30px;
    padding-left: 40%;
    padding-right: 40%;
}